.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.537);
  color: rgb(255, 255, 255);
  z-index: 1000;
  padding: 12px 0;
  backdrop-filter: blur(6px);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 0 30px;
}

.navbar-logo a {
  color: #ff4c4c;
  font-size: 1.8rem;
  font-weight: 700;
  text-decoration: none;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navbar-menu li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.navbar-menu li a:hover {
  color: #ff4c4c;
}

.navbar-button .login-btn {
  background-color: rgba(0, 0, 0, 0.537);
  color: white;
  padding: 8px 16px;
  border: 3px solid white;
  text-decoration: none;
  transition: background 0.3s ease;
}

.navbar-button .login-btn:hover {
  background-color: rgba(0, 0, 0, 0.537);
}

/* Responsive */
@media (max-width: 900px) {
  .navbar-menu {
    display: none; /* You can later replace this with hamburger menu */
  }
}
